# Cliente (navegador)
VITE_SUPABASE_URL=https://SEUPROJETO.supabase.co
VITE_SUPABASE_ANON_KEY=

# Servidor
SUPABASE_URL=https://SEUPROJETO.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Outras chaves
API_FOOTBALL_KEY=
LOVABLE_API_KEY=
